.card {
  @include flexProperties(column, space-evenly, center, 45%);
  border-radius: 5px;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  background-color: $color-primary;
  color: $color-secondary;
  &__header {
    // @include flexProperties(row, space-between, center, 90%, 1%);
    @include flexProperties(row, space-between, center, 100%, 3%);
  }
  &__container {
    @include flexProperties(row, flex-start, center, 20%, 1%);
  }
  &__avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50em;
  }
  &__description {
    @include flexProperties(column, space-between, flex-start, 75%);
    &--text {
      @include titulos($font-normal);
      @include font-size(14px);
    }
    &--title {
      @include titulos($font-emphasis);
      @include font-size(18px);
    }
  }
  &__content {
    @include flexProperties(column, space-between, center, 100%);
    img {
      display: flex;
      width: 100%;
    }
    &--text {
      margin-top: 3%;
      padding: 3%;
      text-align: justify;
      @include titulos($font-normal);
      @include font-size(16px);
    }
  }
  &__footer {
    @include flexProperties(row, space-between, center, 100%, 3%);
    margin-bottom: 2%;
    .action {
      @include flexProperties(row, space-between, center, 45%);
      &__button {
        width: 45%;
        @include titulos($font-emphasis);
        @include font-size(16px);
        appearance: none;
        cursor: pointer;
        color: $color-emphasis;
      }
    }
    .media {
      @include flexProperties(row, space-between, center, 20%, 1%);
      span {
        width: 45%;
        text-align: right;
        @include font-size(16px);
        cursor: pointer;
      }
      .fas {
        // color: #84dfff;
        color: #5584ac;
      }
    }
  }
}
